.weather {
  border: 1px solid gray;
  font-family: arial, sans-serif;
  padding: 16px;

  border-radius: 4px;
  color: gray;
}

.weather form {
  margin-bottom: 20px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-size: 100;
  line-height: 19px;
  list-style: none;
}

.weather canvas {
  margin-top: 5px;
  margin-right: 5px;
}

.weather .clearfix {
  display: inline-block;
}

.weather .temperature {
  font-weight: 400;
  font-size: 64px;
  color: black;
  line-height: 64px;
}

.weather .unit {
  color: black;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}
